<div class="container mt-4">
  <h1 class="mb-3">New Asset</h1>

  <%= render "form", asset: @asset, locations: @locations %>
  
  <% if @asset.errors.any? %>
    <div class="alert alert-danger">
      <ul class="mb-0">
        <% @asset.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>