<div class="container mt-4">
  <h1 class="mb-3">New Location</h1>
  <%= render "form", location: @location %>
  <% if @location.errors.any? %>
    <div class="alert alert-danger">
      <ul class="mb-0">
        <% @location.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


</div>